@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quicksand&family=Roboto:ital,wght@0,100;0,300;1,300&display=swap');

/* styling header */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    height: 50px;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 10px;
    background-color: #1f2937;
    color: white;
    font-family: roboto;
    display: flex;
    justify-content: space-around;
    
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-bottom: 10px;
    padding-top: 5px;
}

li {
    margin-right: 20px;
}

a {
    color: white;
    text-decoration: none;
}

/* styling banner */

.banner {
    background-color: #1f2937;
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 20px;
    display: flex;
    align-content: center;
    justify-content: space-around;

}

.left {
    color: white;
    font-family: roboto;
    display: flex;
    flex-direction: column;

}

.right {
    padding-right: 20px;
}

#sign-up-button {
    width: 70px;
    height: 20px;
    margin-top: 20px;
    background-color: lightskyblue;
    border-radius: 20px;
    border: none;
    font-family: roboto;

}

.left > p {
    margin-top:20px;
    font-size: 16px;
}

.left > h2 {
    font-size: 48px;
    font-weight: 900;
}

/* styling info box */

.info-header {
    text-align: center;
    background-color: #fff;
    padding: 50px;
    font-family: roboto;
    font-weight: bolder;
}

.info-divs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box-1 {
    width: 200px;
    height: 200px;
    border: 2px solid #3882f6;
    background-color: white;
    border-radius: 20px;
}

.box-2 {
    width: 200px;
    height: 200px;
    border: 2px solid #3882f6;
    background-color: white;
    border-radius: 20px;
}

.box-3 {
    width: 200px;
    height: 200px;
    border: 2px solid #3882f6;
    background-color: white;
    border-radius: 20px;
}

.box-4 {
    width: 200px;
    height: 200px;
    border: 2px solid #3882f6;
    background-color: white;
    border-radius: 20px;
}

.info-desc {
    display: flex;
    margin-left: 15px;
    justify-content: space-evenly;
}

.desc-1 {
    max-width: 200px;
}

.desc-2 {
    max-width: 200px;
}

.desc-3 {
    max-width: 200px;
}

.desc-4 {
    max-width: 200px;
}