@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quicksand&family=Roboto:ital,wght@0,100;0,300;1,300&display=swap');

/* styling header */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    height: 50px;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 10px;
    background-color: #003153;
    color: white;
    font-family: roboto;
    display: flex;
    justify-content: space-around;
    
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-bottom: 10px;
    padding-top: 5px;
}

li {
    margin-right: 20px;
}

a {
    color: white;
    text-decoration: none;
}

/* styling banner */

.banner {
    background-color: #003153;
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 20px;
    display: flex;
    align-content: center;

}

.left {
    color: white;
    font-family: roboto;
    display: flex;
    flex-direction: column;

}

.right {
    padding-right: 20px;
}

#sign-up-button {
    width: 70px;
    height: 20px;
    margin-top: 20px;
    background-color: lightskyblue;
    border-radius: 20px;
    border: none;
    font-family: roboto;

}

.left > p {
    margin-top:20px;
}

.left > h2 {
    font-weight: 900;
}

/* styling info box